/*  */

@font-face {
    font-family: "Silkscreen";
    src: url("./slkscr.ttf") format("truetype");
}


html, body {
    margin: unset;
    padding: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    font-weight: unset;
}

.h1, .h2, .h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1 {
    font-size: 4rem;
}

.h2 {
    font-size: 3rem;
}

.h3 {
    font-size: 2rem;
}

.app {
    display: flex;
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    padding: 32px;
    box-sizing: border-box;
}

.margin_bottom-s {
    margin-bottom: 1rem;
}

.margin_bottom-m {
    margin-bottom: 2rem;
}

.margin_bottom-l {
    margin-bottom: 4rem;
}

.flex_horizontal {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}


/* Projects */
.sidebar {
    background-color: #ffffff;
    width: 25vw;
    min-width: 250px;
    max-width: 350px;
    box-sizing: border-box;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projects__new-project-form {
    display: none;
}

.projects__text-input {
    all: unset;
    background-color: #f0f0f0;
    padding: 4px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 8px;
}

.projects__button {
    all: unset;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none; /* disable text selection */
    width: 100%;

    /* vertical align center text */
    display: flex;
    align-items: center;
}

.projects__button:hover {
    background-color: #1072FA;
    color: #ffffff;
}

.projects__button--bw {
    background-color: #f0f0f0;
    color: #000000;
}

.projects__button--bw:hover {
    background-color: #d6d6d6;
    color: #000000;
}

.projects__button--disable {
    background-color: #000000;
    color: #ffffff;
}

.projects__button--disable:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: default;
}


/* Tasks */
.main {
    flex: 1;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 64px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
}

.tasks__header-button {
    all: unset;
    width: 2.5rem;
    height: auto;
}

.tasks__header-button:hover {
    cursor: pointer;
}

.tasks__header-button > img {    
    width: 2.5rem;
    height: auto;
}

.tasks__item {
    padding: 12px 8px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks__check {
    font-size: 2rem;
    font-family: "Silkscreen";
}

.tasks__check:hover {
    cursor: pointer;
}

.tasks__item-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tasks__icon {
    height: 25px;
    box-sizing: border-box;
    padding: 4px;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.tasks__icon:hover {
    background-color: #e7e7e7;
    padding: 4px;
}

.show-task-form-button {
    all: unset;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

.show-task-form-button:hover {
    cursor: pointer;
}

.tasks__text-input {
    font-size: inherit;
    width: 20vw;
    max-width: 300px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
}

.tasks__text-input:focus {
    outline: none;
    border-bottom: 1px solid #969696;    
}

.task__button {
    all: unset;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none; /* disable text selection */

    /* vertical align center text */
    display: flex;
    align-items: center;
    background-color: unset;
    border: 1px solid #e7e7e7;
}

.task__button:hover {
    background-color: #1072FA;
    color: white;
    border: 1px solid #1072FA;
}

.task__checked {
    text-decoration: line-through;
}

.task__form {
    display: none;
}